.skeleton {
  box-sizing: border-box;
  /* width: 579px;
  height: 192px; */
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  gap: 8px;
  
  display: flex;
  flex-direction: column;
  padding: 24px 40px 32px 24px ;
}

.skeleton__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

}

.skeleton__circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--grey-2);
}

.skeleton__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  flex-grow: 1;
  padding-left: 16px;
}
  
.skeleton__item {
  height: 20px;
  background-color: var(--grey-2);
}

.skeleton__item_s {
  width: 30%;
}

.skeleton__item_m {
  width: 50%;
}

.skeleton__item_l {
  width: 100%;
}
