.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--grey-2);
}

.form__label {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--grey-3);
  line-height: 18px;
  letter-spacing: 0.04em;
}

.form__control {
  display: flex;
  position: relative;
}

.form__input {
  height: 56px;
<<<<<<< HEAD
  padding-top: 17px;
  padding-bottom: 13px;
=======
>>>>>>> master
  padding-left: 24px;
  flex-grow: 1;
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 8px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--grey-4);
  line-height: 26px;
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  display: none;
}

.form_success .form__icon_success {
  display: block;
}

.form_invalid .form__input {
  border: 1px solid var(--error);
}

.form_invalid .form__icon_error {
  display: block;
}

.form__input:focus {
  outline: none;
  border: 3px solid var(--primary);
  transition: border 0.1s linear;
}

.form__input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-2);
}

